<div class="flex-container flex-center">
  <div class="flex-container">
    <div class="calendar-days flex-container flex-center">D</div>
    <div class="calendar-days flex-container flex-center">S</div>
    <div class="calendar-days flex-container flex-center">T</div>
    <div class="calendar-days flex-container flex-center">Q</div>
    <div class="calendar-days flex-container flex-center">Q</div>
    <div class="calendar-days flex-container flex-center">S</div>
    <div class="calendar-days flex-container flex-center">S</div>
  </div>
</div>
